<!DOCTYPE html>
<html>
<head>
  <title>Happysplurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-3">
      <div class="circle">
        <br />
        ONE
        <br />
        HAPPY
        <br />
        QUOTE
        </div>
    </div>

    <div class="col-xs-4 slogan">
      Spreading positivity since 2016.
    </div>
    <div class="col-xs-5 links">
      <%= link_to 'Contribute', '#' %>
      <%= link_to 'About', '#' %>
  </header>
  <hr />
  <br class="clear" />

<%= yield %>

</body>
</html>
